!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equib='X-UA-Compatible',content='IE=edge,chrome=1')
    title Energies Balanced
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width user-scalable=no",initial-scale=1,maximum-scale=1, )
    link(rel='icon',href='/img/om_favicon.jpg')
    link(rel='stylesheet',href='/stylesheets/reset.css')
    link(rel='stylesheet',href='/stylesheets/main.css')
    script(type='text/template',id='signIn')
      header
        .logo#headerLogo
        h1.navH1.mobile EB
        h1.navH1.nonMobile EnergiesBalanced
      .container
        .launchLogo.logo
        a(href="")
          #login.button
            |Sign in with Facebook
      footer
        p Here at Energies Balanced we support the human experience with love and kindness.  We do not turn anyone away from the practice of yoga due to money. Yoga is a community of sharing and learning. It is about the union of the self!  If you are not able to pay the full class price still attend class and make a donation. 
        p.copyright
          |&#169; 2013 Energies Balanced &#2384;
   
    script(type='text/template',id='appShell')
      header
        .logo#headerLogo
        h1.navH1.mobile EB
        h1.navH1.nonMobile EnergiesBalanced
      .container
    script(type='text/template',id='currentUserTemplate')
      img(src='http://graph.facebook.com/<%= facebook_id %>/picture').navFace 
      h2.navH2
        |Hello, <%= first_Name %>
    script(type='text/template',id='navTemplate')
      nav.mainNav
        ul
        each url, val in {'Yoga Schedule': 'schedule', 'Massage': 'massage', 'Post on Facebook': 'fb_post', 'Donate': 'donate'}
          li(class=val)
            a(data-link=url)= val
    script(type="text/template",id='navLiTemplate')
      li(class='<%=li_class%>')
        //a
          p <%=li_text%>
    script(type='text/template',id='scheduleTemplate')
      nav.dayRibbon
        ul
        each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
          li=day
      ul.classesTaught
    script(type='text/template',id='classLi')
      li
        .row
          h3.classTitle
            |<%= classTitle %>
          p.classLocation
            |<%= classLocation %>
        .row
          p.classTime
            |<%= classTime %>
          p.classDescription.truncated
            |<%= classDescription %>
    script(data-main='js/main' src='js/vendor/require.js')
  body(ontouchstart="")
    header
      h1 Energies Balanced
      #currentUser
    .container
    footer
      p Here at Energies Balanced we support the human experience with love and kindness.  We do not turn anyone away from the practice of yoga due to money. Yoga is a community of sharing and learning. It is about the union of the self!  If you are not able to pay the full class price still attend class and make a donation. 
      p.copyright
       |&#169; 2013 Energies Balanced &#2384;
      p page not rendered
  
