@font-face {
  font-family: "OpenSans-Light";
  src: url("../img/OpenSans-Light.ttf");
}

/* line 8, ../sass/admin.sass */
body {
  font-family: "OpenSans-Light";
  line-height: 32px;
  font-size: 26px;
}

/* line 13, ../sass/admin.sass */
sidebar {
  display: inline-block;
  width: 250px;
  color: white;
  background: #444444;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 25px;
}

/* line 21, ../sass/admin.sass */
sidebar label {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 27, ../sass/admin.sass */
.httpNav {
  margin-top: 100px;
  line-height: 2em;
}

/* line 31, ../sass/admin.sass */
.selector {
  display: none;
  line-height: 1em;
}

/* line 35, ../sass/admin.sass */
.label h1 {
  display: inline-block;
}

/* line 38, ../sass/admin.sass */
.dropClick {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #222222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 250px;
}

/* line 47, ../sass/admin.sass */
li {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px 0;
  margin: 5px 0 15px;
  width: 230px;
}
/* line 56, ../sass/admin.sass */
li:hover, li:active {
  background: white;
  color: #222222;
  border-color: #222222;
}

/* line 61, ../sass/admin.sass */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
  display: inline-block;
  color: #222222;
  padding: 20px;
}

/* line 67, ../sass/admin.sass */
select {
  font-size: 100px;
}
