/* line 5, ../sass/main.sass */
.launch-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #feffff), color-stop(35%, #ddf1f9), color-stop(100%, #a0d8ef));
  background-image: -webkit-radial-gradient(center, ellipse cover, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-image: radial-gradient(center, ellipse cover, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
}

/* line 10, ../sass/main.sass */
.center {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/main.sass */
.title {
  margin-top: 20%;
  margin-bottom: 10%;
}

/* line 19, ../sass/main.sass */
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #4a5259;
  color: #d8e0e8;
  padding: 20px;
}

/* line 27, ../sass/main.sass */
.deen {
  color: yellow;
}
