/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../sass/reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.sass */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.sass */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.sass */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 45, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 150%;
}

/* line 64, ../../../.gem/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 24px;
  line-height: 1.5em;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../img/OpenSans-Light.ttf");
}

@media screen {
  /* line 34, ../sass/main.sass */
  body {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    background: #8f9acc;
    background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(10%, #8f9acc), color-stop(100%, #2e3242));
    background-image: -webkit-radial-gradient(center, ellipse cover, #8f9acc 10%, #2e3242 100%);
    background-image: -moz-radial-gradient(center, ellipse cover, #8f9acc 10%, #2e3242 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #8f9acc 10%, #2e3242 100%);
    background-image: radial-gradient(center, ellipse cover, #8f9acc 10%, #2e3242 100%);
    font-family: "OpenSans-Light";
  }

  /* line 44, ../sass/main.sass */
  header {
    position: fixed;
    top: 0;
    background-color: white;
    color: #2e3242;
    text-align: center;
    width: 100%;
    padding: 40px 0 20px 0;
    overflow: hidden;
  }

  /* line 55, ../sass/main.sass */
  header h1 {
    font-size: 2em;
    line-height: 1.5em;
    display: inline-block;
  }

  /* line 59, ../sass/main.sass */
  .launchLogo {
    display: block;
    margin: 25px auto 25px;
    background: inherit;
  }

  /* line 65, ../sass/main.sass */
  .logo {
    background: url("../img/logo.png") no-repeat;
    background-size: 100%;
    width: 300px;
    height: 300px;
  }

  /* line 71, ../sass/main.sass */
  #login {
    width: 350px;
    margin: 0 auto 80px;
    font-size: 1em;
    line-height: 1.5em;
    background: white;
    color: #2e3242;
    text-align: center;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #4f5673 0 5px 0;
    -moz-box-shadow: #4f5673 0 5px 0;
    box-shadow: #4f5673 0 5px 0;
  }
  /* line 81, ../sass/main.sass */
  #login:active {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
    background: #bbbdc7;
    color: white;
  }

  /* line 87, ../sass/main.sass */
  .content {
    opacity: 1;
  }

  /* line 90, ../sass/main.sass */
  footer {
    width: 100%;
    background-color: white;
    color: #2e3242;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px 0 10px;
  }

  /* line 97, ../sass/main.sass */
  footer p {
    width: 600px;
    margin: 0 auto 0;
  }

  /* line 101, ../sass/main.sass */
  .copyright {
    font-size: 0.83333em;
    line-height: 1.8em;
    color: #2e3242;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* line 108, ../sass/main.sass */
  #headerLogo {
    float: left;
    height: 50px;
    width: 50px;
  }

  /* line 116, ../sass/main.sass */
  .navH1 {
    float: left;
    text-align: left;
    font-size: 1.25em;
    line-height: 1.2em;
    margin-top: 5px;
  }

  /* line 122, ../sass/main.sass */
  .navFace {
    float: right;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
  }

  /* line 129, ../sass/main.sass */
  .navH2 {
    margin-top: 5px;
    float: right;
    width: 150px;
    text-align: right;
    font-size: 1em;
    line-height: 1.5em;
  }

  /* line 17, ../sass/main.sass */
  #headerLogo {
    margin-left: 25px;
  }

  /* line 20, ../sass/main.sass */
  .navH1 {
    margin-left: 25px;
  }

  /* line 23, ../sass/main.sass */
  .navH2 {
    margin-right: 25px;
  }

  /* line 26, ../sass/main.sass */
  .navFace {
    margin-right: 25px;
  }

  /* line 138, ../sass/main.sass */
  .mobile {
    display: none;
  }

  /* line 143, ../sass/main.sass */
  li {
    color: white;
    display: inline-block;
    height: 200px;
    position: relative;
  }
  /* line 148, ../sass/main.sass */
  li p {
    text-align: center;
    position: relative;
    top: 150px;
    color: white;
  }
  /* line 153, ../sass/main.sass */
  li a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* line 155, ../sass/main.sass */
  li.navItem {
    width: 32%;
    display: inline-block;
  }
  /* line 159, ../sass/main.sass */
  li.scheduleItem {
    display: block;
  }
  /* line 164, ../sass/main.sass */
  li.donate {
    background: url("../img/donate_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.video {
    background: url("../img/video_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.locations {
    background: url("../img/locations_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.massage {
    background: url("../img/massage_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.message {
    background: url("../img/message_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.schedule {
    background: url("../img/schedule_icon.png") no-repeat;
    background-size: 100%;
  }
  /* line 164, ../sass/main.sass */
  li.yoga {
    background: url("../img/yoga_icon.png") no-repeat;
    background-size: 100%;
  }
}
@media screen and (min-height: 800px) {
  /* line 169, ../sass/main.sass */
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  /* line 178, ../sass/main.sass */
  header {
    width: 100%;
    padding: 10px 0 10px;
  }

  /* line 182, ../sass/main.sass */
  header h1 {
    font-size: 1.5em;
    display: block;
  }

  /* line 186, ../sass/main.sass */
  .launchLogo {
    margin: 50px auto 50px;
    width: 200px;
    height: 200px;
  }

  /* line 191, ../sass/main.sass */
  #login {
    font-size: 1em;
    padding: 10px 2.5% 10px 2.5%;
    margin: 50px 20% 50px;
    width: 55%;
    -webkit-box-shadow: #4f5673 0 8px 0;
    -moz-box-shadow: #4f5673 0 8px 0;
    box-shadow: #4f5673 0 8px 0;
  }

  /* line 198, ../sass/main.sass */
  footer {
    width: 96%;
    padding: 3%;
  }

  /* line 202, ../sass/main.sass */
  footer p {
    width: 100%;
  }

  /* line 17, ../sass/main.sass */
  #headerLogo {
    margin-left: 10px;
  }

  /* line 20, ../sass/main.sass */
  .navH1 {
    margin-left: 10px;
  }

  /* line 23, ../sass/main.sass */
  .navH2 {
    margin-right: 10px;
  }

  /* line 26, ../sass/main.sass */
  .navFace {
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  /* line 209, ../sass/main.sass */
  .mobile {
    display: inline-block;
  }

  /* line 212, ../sass/main.sass */
  .nonMobile {
    display: none;
  }

  /* line 215, ../sass/main.sass */
  header {
    margin: 0;
    padding: 10px 0 10px;
    width: 100%;
  }

  /* line 220, ../sass/main.sass */
  header h1 {
    font-size: 1.5em;
  }

  /* line 223, ../sass/main.sass */
  .launchLogo {
    margin: 25px auto 20px auto;
    width: 200px;
    height: 200px;
  }

  /* line 228, ../sass/main.sass */
  #login {
    font-size: 1em;
    padding: 5%;
    width: 80%;
    margin: 10% 5% 10% 5%;
    -webkit-box-shadow: #4f5673 0 5px 0;
    -moz-box-shadow: #4f5673 0 5px 0;
    box-shadow: #4f5673 0 5px 0;
  }

  /* line 17, ../sass/main.sass */
  #headerLogo {
    margin-left: 5px;
  }

  /* line 20, ../sass/main.sass */
  .navH1 {
    margin-left: 5px;
  }

  /* line 23, ../sass/main.sass */
  .navH2 {
    margin-right: 5px;
  }

  /* line 26, ../sass/main.sass */
  .navFace {
    margin-right: 5px;
  }

  /* line 237, ../sass/main.sass */
  li {
    font-size: 0.58333em;
    line-height: 2.57143em;
  }
}
